<div class="jumbotron jumbotron-fluid text-center" style="background-color: #aec6cf;">
  <div class="container">
    <h1 class="display-3">Eat Da Burger!</h1>
    <img id="burgerImage" src="./assets/img/cartoon-burger.jpg" alt="burger image">
  </div>
</div>

<div class="container">
  <class="row justify-content-center">
    <form>
      <label for="name">Input Burger</label>
      <input type="text" name:"name" id="name">
      <button id="addBurger" type="button" class="btn btn-secondary">Add Burger</button>
    </form>
  </class>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <ul id="burgers" class="list-group">
          {{#each devour}}
          <li class="list-group-item">
            {{this.burger_name}}
            <button class="devour" data-id="{{this.id}}" value="{{this.burger_name}}">Devour</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <ul id='devoured' class="list-group">
          {{#each devoured}}
          <li class="list-group-item">
            {{this.burger_name}}
          </li>
        </ul>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./burgers.js"></script>